@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-milade-shade: var(--milade-shade);
  --color-milade-shade-10: var(--milade-shade-10);
  --color-milade-shade-20: var(--milade-shade-20);
  --color-milade-shade-30: var(--milade-shade-30);
  --color-milade-shade-40: var(--milade-shade-40);
  --color-milade-shade-50: var(--milade-shade-50);
  --color-milade-shade-60: var(--milade-shade-60);
  --color-milade-shade-70: var(--milade-shade-70);
  --color-milade-shade-80: var(--milade-shade-80);
  --color-milade-shade-90: var(--milade-shade-90);
  --color-milade-shade-100: var(--milade-shade-100);

  --color-milade-tint: var(--milade-tint);
  --color-milade-tint-10: var(--milade-tint-10);
  --color-milade-tint-20: var(--milade-tint-20);
  --color-milade-tint-30: var(--milade-tint-30);
  --color-milade-tint-40: var(--milade-tint-40);
  --color-milade-tint-50: var(--milade-tint-50);
  --color-milade-tint-60: var(--milade-tint-60);
  --color-milade-tint-70: var(--milade-tint-70);
  --color-milade-tint-80: var(--milade-tint-80);
  --color-milade-tint-90: var(--milade-tint-90);
  --color-milade-tint-100: var(--milade-tint-100);

  --color-milade-error: var(--milade-error);
  --color-milade-error-2: var(--milade-error-2);
  --color-milade-warning: var(--milade-warning);
  --color-milade-accent: var(--milade-accent);

  --color-milade-neutral: var(--milade-neutral);
  --color-milade-neutral-2: var(--milade-neutral-2);
  --color-milade-neutral-3: var(--milade-neutral-3);
  --color-milade-neutral-4: var(--milade-neutral-4);
  --color-milade-neutral-5: var(--milade-neutral-5);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-candara: var(--font-candara);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

#test {
  color: hsl(145, 92%, 31%);
}

:root {
  --milade-shade: oklch(0.5941 0.1654 149.16);
  --milade-shade-10: oklch(0.5508 0.1531 149.2);
  --milade-shade-20: oklch(0.5069 0.1395 149.5);
  --milade-shade-30: oklch(0.4588 0.1254 149.76);
  --milade-shade-40: oklch(0.4127 0.1109 150.24);
  --milade-shade-50: oklch(0.365 0.0973 150.54);
  --milade-shade-60: oklch(0.3157 0.0832 151.01);
  --milade-shade-70: oklch(0.2648 0.0668 152.28);
  --milade-shade-80: oklch(0.2072 0.0496 154.79);
  --milade-shade-90: oklch(0.1501 0.0305 160.42);
  --milade-shade-100: oklch(0 0 0);

  --milade-tint: oklch(0.5941 0.1654 149.16);
  --milade-tint-10: oklch(0.6273 0.1569 151.55);
  --milade-tint-20: oklch(0.6655 0.1459 153.42);
  --milade-tint-30: oklch(0.7031 0.1306 155.1);
  --milade-tint-40: oklch(0.7423 0.1132 156.51);
  --milade-tint-50: oklch(0.7853 0.096 157.45);
  --milade-tint-60: oklch(0.8261 0.0781 158.12);
  --milade-tint-70: oklch(0.8683 0.0582 158.99);
  --milade-tint-80: oklch(0.9112 0.0382 159.86);
  --milade-tint-90: oklch(0.9565 0.0198 159.75);
  --milade-tint-100: oklch(1 0 0);

  --milade-error: oklch(0.6185 0.2301 27.11);
  --milade-error-2: oklch(0.8077 0.1067 8.74);
  --milade-warning: oklch(0.8488 0.1736 86.93);
  --milade-accent: oklch(0.7529 0.1496 165.03);

  --milade-neutral: oklch(0.4541 0.0104 248.06);
  --milade-neutral-2: oklch(0.7167 0.0074 247.93);
  --milade-neutral-3: oklch(0.8445 0.0047 258.33);
  --milade-neutral-4: oklch(0.931 0 0);
  --milade-neutral-5: oklch(0.9824 0.0013 286.38);

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  /* --ring: oklch(0.7529 0.1496 165.03); */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .milade-container {
    @apply max-w-7xl w-full  px-4 sm:px-6 lg:px-8;
  }
}
